* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5% 20%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.box {
  box-sizing: border-box;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid red;
  border-right: 1px solid red;
  position: relative;
  background-size: cover;
  /* padding: 1%; */
}

.primobox {
  box-sizing: border-box;
   border-top: 1px solid red;
   border-bottom: 1px solid white;
   border-left: 1px solid red;
   border-right: 1px solid red;
  position: relative;
  background-size: cover;
  /* padding: 1%; */
}

.ultimobox {
  box-sizing: border-box;
   border-top: 1px solid white;
   border-bottom: 1px solid red;
   border-left: 1px solid red;
   border-right: 1px solid red;
  position: relative;
  background-size: cover;
  /* padding: 1%; */
}

.img {
  margin-top: 1%;
  width: 98%;
}

h1 {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-shadow: 2px 2px 50px black; */
  text-shadow: -1px 3px red, 3px 1px red, 1px 3px red, 3px -1px red;
  text-decoration: inherit;
  font-family: arial;
}
